#i10
{
	height: 240px;
	width: 260px;
	margin: 20px;
	object-fit: cover;
}
#i6
{
	height: 240px;
	width: 260px;
	margin: 20px;
	object-fit: cover;
}
#i11
{
	height: 240px;
	width: 340px;
	margin: 20px;
	border-radius: 1000px;
	object-fit: cover;
}
#ic1
{
	height: 40px;
	width: 40px;
	background-color: yellow;
	margin-top: 40px;
	border-radius: 50px;
	margin-left: 120px;
}
a
{
	text-decoration-style: none;
	text-decoration-color: black;
}
#ic2
{
	height: 40px;
	width: 40px;
	background-color: yellow;
	margin-top: 40px;
	border-radius: 50px;
	margin-left: 120px;
	font-size: 20px;
}

#a1:hover
{
	color: orange;
	text-decoration: none;
}
#a1:hover
{
	color: orange;
	text-decoration: none;
}
i
{
	margin-top: 15px;
}
h6
{
	color: #16ba6a;
	font-size: 50px;
}
button
{
	width:200px;
	height: 40px;
	border-radius: 20px;
	margin-left: 20px;
	margin-top: 10px;
	background-color: orange;
	border: orange;
}
p
{
	color: white;
	margin-top: 5px;
}

#p3
{
	float: left;
	color:#16ba6a;
	font-size: 20px;
	margin-bottom: 10px;
}
#ic3
{
	float: right;
	color:#16ba6a;
	font-size: 15px;
	
}
#mtr
{
	background-color: #a8f8d1;
	height: 300px;
	width: 600px;
	font-size: 20px;
}
li
{
	list-style-type: none;
}
#p4
{
	margin-top: 30px;
	margin-left: 20px;
	/*font-size: 20px;*/
	color: black;
}
h4
{
	margin-left: 50px;
}
#a1,#a2
{
	margin-left: 90px;
}

